<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Account Settings
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-item>
  <ion-avatar slot="start">
    <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
  </ion-avatar>
  <ion-label>
    Account
  </ion-label>
</ion-item>

<ion-button>
  Messages
  <ion-icon slot="end" name="chatbubbles"></ion-icon>
</ion-button>
<ion-button>
  Settings
  <ion-icon slot="end" name="cog"></ion-icon>
</ion-button>
<ion-button>
  Zippie Tutorial
  <ion-icon slot="end" name="chatbubbles"size="small"></ion-icon>
  
</ion-button>
<ion-button>
  Help
  <ion-icon slot="end" name="help-circle"></ion-icon>
</ion-button>
